html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #03080b;
  color: white;
}

.container {
  margin: 0 auto;
  color: white;
  position: relative;
}

#map {
  height: 900px;
  width: 100%;
  position: absolute;
}

h1 {
  margin-bottom: 15px;
  padding-left: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.tweet-container {
  width: 300px;
  height: 900px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: -30px;
  margin-right: 20px;
  z-index: 2;
  position: absolute;
  right: 0;
  box-sizing: border-box;
}

#tweet-stream {
  text-align: center;
  padding: 0 10px;
  padding-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding-left: 10px;
  padding-top: 0;
  font-weight: 300;
  font-size: 14px;
}

.tweets li {
  margin-bottom: 10px;
  border: 1px solid rgba(105,105,105,0.2);
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(105,105,105,0.2);
}

.info-window {
  width: 200px;
  top: 15px;
  left: 0px;
  background-color: rgba(105,105,105,0.2);
}

#content {
  color: black;
}

#prof-info {
  display: flex;
  flex-direction: row;
}

#prof-names {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 5px;
}

#prof-pic {
  height: 49px;
  width: 49px;
  border-radius: 50%;
  display: inline-block;
}

#info-window-profile-pic {
  height: 65px;
  width: 65px;
  display: inline-block;
  border-radius: 50%;
}

#info-window-name {
  font-weight: bold;
  font-size: 19px;
}

#name {
  font-weight: bold;
  font-size: 16px;
}

#username {
  font-weight: 100;
  font-size: 14px;
  padding-bottom: 5px;
  color: #4E80FF;
}

.title-container {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
  height: 100px;
  width: 100px;
  margin-left: 55px;
}

#header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  font-size: 32px;
  font-weight: bold;
}